# Anchors for Titanic

In [1]:
# load modules
import pandas as pd
import numpy as np
from alibi.explainers import AnchorTabular
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier

**load data**

In [2]:
#np.random.seed(0)
df_train = pd.read_pickle("data/titanic_train.pkl")
df_test_ = pd.read_pickle("data/titanic_test.pkl")

msk = np.random.rand(len(df_test_)) < 0.8

df_test = df_test_[msk]
df_val = df_test_[~msk]

X_train, y_train = df_train.drop(["Survived"], axis=1), df_train["Survived"]
X_test, y_test = df_test.drop(["Survived"], axis=1), df_test["Survived"]
X_val, y_val = df_val.drop(["Survived"], axis=1), df_val["Survived"]

In [3]:
X_test

,Pclass,Age,Fare,Familiy_Size,Sex=male,Embarked=Q,Embarked=S,Title=rareTitle,marital_status=no,marital_status=yes,Deck=B,Deck=C,Deck=D,Deck=E,Deck=F,Deck=G,Deck=T,Deck=unknown
709,3,25.0,15.2458,2,1,0,0,1,0,0,0,0,0,0,0,0,0,1
439,2,31.0,10.5000,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
840,3,20.0,7.9250,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
720,2,6.0,33.0000,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1
39,3,14.0,11.2417,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
852,3,9.0,15.2458,2,0,0,0,0,1,0,0,0,0,0,0,0,0,1
433,3,17.0,7.1250,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
773,3,25.0,7.2250,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
25,3,38.0,31.3875,6,0,0,1,0,0,1,0,0,0,0,0,0,0,1
10,3,4.0,16.7000,2,0,0,1,0,1,0,0,0,0,0,0,1,0,0

**construct knn model**

In [4]:
model = Pipeline([
    ("scaler", MinMaxScaler()),
    ("knn", KNeighborsClassifier(n_neighbors=3))
])

**fit model**

In [5]:
model.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('knn',
                 KNeighborsClassifier(algorithm='auto', leaf_size=30,
                                      metric='minkowski', metric_params=None,
                                      n_jobs=None, n_neighbors=3, p=2,
                                      weights='uniform'))],
         verbose=False)

In [6]:
model.score(X_test, y_test)

0.8356164383561644

**setup explainer**

In [7]:
predict = lambda x: model.predict_proba(x)

In [8]:
explainer = AnchorTabular(predict, feature_names=X_train.columns.tolist(), seed=42)

In [9]:
explainer.fit(X_test.values)

AnchorTabular(meta={
  'name': 'AnchorTabular',
  'type': ['blackbox'],
  'explanations': ['local'],
  'params': {'disc_perc': (25, 50, 75), 'seed': 42}}
)

**Try to explain**

In [12]:
df_val.head()

,Survived,Pclass,Age,Fare,Familiy_Size,Sex=male,Embarked=Q,Embarked=S,Title=rareTitle,marital_status=no,marital_status=yes,Deck=B,Deck=C,Deck=D,Deck=E,Deck=F,Deck=G,Deck=T,Deck=unknown
290,1,1,26.0,78.8500,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1
485,0,3,25.0,25.4667,4,0,0,1,0,1,0,0,0,0,0,0,0,0,1
682,0,3,20.0,9.2250,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
877,0,3,19.0,7.8958,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1
141,1,3,22.0,7.7500,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1

In [17]:
explaination = explainer.explain(X_val.values[0,:], delta=0.1, threshold=0.95, beam_size=1)

In [14]:
model.predict(X_val)

array([1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1])

In [19]:
explaination

Explanation(meta={
  'name': 'AnchorTabular',
  'type': ['blackbox'],
  'explanations': ['local'],
  'params': {
              'seed': 42,
              'disc_perc': (25, 50, 75),
              'threshold': 0.95,
              'delta': 0.1,
              'tau': 0.15,
              'batch_size': 100,
              'coverage_samples': 10000,
              'beam_size': 1,
              'stop_on_first': False,
              'max_anchor_size': None,
              'min_samples_start': 100,
              'n_covered_ex': 10,
              'binary_cache_size': 10000,
              'cache_margin': 1000,
              'verbose': False,
              'verbose_every': 1,
              'kwargs': {}}
            }
, data={
  'anchor': ['Fare > 32.46', 'Sex=male <= 0.00', 'Pclass <= 1.00'],
  'precision': 0.9829268292682927,
  'coverage': 0.2808219178082192,
  'raw': {
           'feature': [2, 4, 0],
           'mean': [0.5633754697642638, 0.8709377901578459, 0.9829268292682927],
           'precision': [0.5633754697642638, 0.8709377901578459, 0.9829268292682927],
           'coverage': [0.2534246575342466, 0.2534246575342466, 0.2808219178082192],
           'examples': [{'covered_false': array([[  3.    ,  20.5   ,  33.    ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  2.    ,  39.    ,  53.1   ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  38.    ,  39.4   ,   6.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  38.    ,  52.5542,   6.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  34.    ,  52.    ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  64.    ,  73.5   ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  42.    ,  93.5   ,   1.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ],
       [  3.    ,  31.    , 247.5208,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  34.    ,  73.5   ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  65.    ,  39.6875,   1.    ,   1.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   1.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ]]), 'covered_true': array([[  2.    ,   6.    ,  35.5   ,   1.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  30.5   , 120.    ,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  42.    , 262.375 ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  25.    ,  83.1583,   1.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  2.    ,  28.    ,  56.9292,   1.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  25.    ,  39.    ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  23.    ,  52.    ,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  2.    ,   0.83  ,  89.1042,   2.    ,   1.    ,   0.    ,
          1.    ,   1.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  18.    , 221.7792,   0.    ,   1.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  18.    ,  34.375 ,   1.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ]]), 'uncovered_false': array([], dtype=float64), 'uncovered_true': array([], dtype=float64)}, {'covered_false': array([[  1.    ,  47.    ,  93.5   ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ],
       [  3.    ,  28.    ,  56.9292,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  2.    ,  31.    ,  89.1042,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  37.    ,  82.1708,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  34.    ,  51.8625,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  2.    ,  21.    ,  52.5542,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  2.    ,  39.    ,  52.    ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  19.    , 120.    ,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  27.    ,  73.5   ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  38.    , 262.375 ,   6.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ]]), 'covered_true': array([[  1.    ,  39.    ,  33.    ,   2.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   1.    ,   0.    ,   0.    ,   0.    ,   0.    ],
       [  3.    ,  24.    ,  39.4   ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  40.    , 247.5208,   0.    ,   0.    ,   0.    ,
          0.    ,   1.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  2.    ,  36.    , 262.375 ,   1.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  3.    ,  29.    ,  83.1583,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  34.    , 134.5   ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  23.    , 113.275 ,   1.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ],
       [  3.    ,  25.    ,  91.0792,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  36.    ,  39.    ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   1.    ,   0.    ,   0.    ,   0.    ,   0.    ],
       [  3.    ,  25.    ,  52.    ,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ]]), 'uncovered_false': array([], dtype=float64), 'uncovered_true': array([], dtype=float64)}, {'covered_false': array([[  1.    ,  21.    ,  39.4   ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  43.    ,  93.5   ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  23.5   , 113.275 ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  27.    ,  91.0792,   0.    ,   0.    ,   0.    ,
          1.    ,   1.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  19.    ,  52.    ,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  39.    ,  83.1583,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  37.    ,  89.1042,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  38.    ,  34.6542,   0.    ,   0.    ,   0.    ,
          1.    ,   1.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  47.    ,  76.2917,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ],
       [  1.    ,  25.    ,  77.9583,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ]]), 'covered_true': array([[  1.    ,  21.    , 247.5208,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  47.    , 262.375 ,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ],
       [  1.    ,  25.    ,  83.1583,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  21.    , 134.5   ,   2.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  23.    ,  56.9292,   3.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  25.    ,  89.1042,   1.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,   0.83  ,  76.2917,   2.    ,   0.    ,   0.    ,
          1.    ,   1.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  20.    ,  77.9583,   0.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  36.    , 110.8833,   1.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   0.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ],
       [  1.    ,  18.    , 146.5208,   2.    ,   0.    ,   0.    ,
          1.    ,   0.    ,   1.    ,   0.    ,   0.    ,   0.    ,
          0.    ,   0.    ,   0.    ,   0.    ,   0.    ,   1.    ]]), 'uncovered_false': array([], dtype=float64), 'uncovered_true': array([], dtype=float64)}],
           'all_precision': 0,
           'num_preds': 1000000,
           'success': True,
           'names': ['Fare > 32.46', 'Sex=male <= 0.00', 'Pclass <= 1.00'],
           'prediction': array([1]),
           'instance': array([ 1.  , 26.  , 78.85,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  1.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ]),
           'instances': array([[ 1.  , 26.  , 78.85,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  1.  ,
         0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ]])}
         }
)